<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DazzleDesign_Contact_Manager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DazzleDesign_Contact_Manager.Properties.Settings>
            <setting name="formloc" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="formstate" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="formsize" serializeAs="String">
                <value>984, 664</value>
            </setting>
        </DazzleDesign_Contact_Manager.Properties.Settings>
    </userSettings>
</configuration>